a {
  color: #4d5055;
  text-decoration: underline;
}

a:hover {
  color: #4d5055;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: #2259ec;
}

.bg-gray {
  background-color: #f7f9fb;
}
