a {
  color: $color-mid-gray;
  text-decoration: underline;
}

a:hover {
  color: $color-mid-gray;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: $color-accent-blue;
}

.bg-gray {
  background-color: $color-accent-white;
}
