$color-primary-white: #ffffff;
$color-primary-blue: #0b36a8;
$color-primary-black: #000000;
$color-primary-gray: #3a3c3d;
$color-primary-red: #8b0000;

$color-accent-gray: #a1a1a1;
$color-accent-white: #f7f9fb;
$color-accent-red: #ff0000;
$color-accent-blue: #2259ec;

$color-secondary-gray: #cbcbd1;

$color-mid-gray: #7d838a;
