.footer {
  padding-bottom: 0rem;
  padding-top: 2rem;
  background-color: $color-primary-gray;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer .icon-span {
  width: 2em;
  margin-bottom: 1.25rem;
  margin-right: 0.375rem;
  font-size: 1.5rem;
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $color-primary-gray;
  text-align: center;
}

.copyright .p-small {
  color: $color-accent-white;
  text-align: center;
}

.to-top.visible {
  color: $color-primary-white;
}

.copyright a {
  color: $color-accent-white;
}

p.p-small {
  padding-top: 1rem;
}
