div#about {
  background-color: $color-primary-white;
}

.basic-1 {
  padding-top: 7.75rem;
  padding-bottom: 5.25rem;
}

.basic-1 .text-container {
  margin-bottom: 3rem;
}

.basic-1 .time {
  margin-bottom: 0.5rem;
  color: $color-primary-blue;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: 'Poppins';
}

.basic-1 h6 {
  margin-bottom: 0.125rem;
}

@media (min-width: 48rem) {
  .basic-2 .text-box {
    padding-right: 2.125rem;
    padding-left: 2.125rem;
  }

  .ex-basic-1 .text-box {
    padding: 1.75rem 2rem 0.875rem 2rem;
  }
}
